<ul class="flex items-center text-sm font-semibold h-full">
    <!-- 유저 로그인 확인 -->
    
    {% if user.is_authenticated %}
        
    <li class="nav_link"><a href="#">Trip List</a></li>
    <li class="nav_link">
        <a href="#">Profile</a>
    </li>
    <li class="nav_link">
        <a href="{% url 'users:logout' %}">Log out</a>
    </li>
    {% else %}
    <li class="nav_link">
        <a href="{% url 'users:login' %}">Login</a>
    </li>
    <li class="nav_link">
        <a href="{% url 'users:signup' %}">Sign Up</a>
    </li>
    {% endif %}
</ul>