{% load on_favs %}
<div class="main-modal fixed w-full h-100vh inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
style="background: rgba(0,0,0,.7);">
    <div class="border shadow-lg modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <div class="modal-content text-left py-4 px-6">
            <!-- Title -->
            <div class="flex justify-between items-center border-b pb-2 boder-gray-400">
                <p class="block uppercase tracking-wide text-gray-700 text-lg font-bold py-2">Save to a list</p>
                <div class="modal-close cursor-pointer z-50 flex justify-center py-2">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!-- Body -->
            <div class="my-5">
                {% if place %}
                    {% for lists in user.lists.all %}
                        {% on_favs place as on_favs_boolean %}
                        <div class="flex flex-col">
                        {% if on_favs_boolean %}
                        <a href="{% url 'lists:add-list' place.pk lists.title %}?action=remove">
   
                            <div class="flex flex-wrap rounded-lg p-3 hover:bg-gray-200 rounded-lg ">
                                <div class="w-20 h-20 bg-cover bg-center rounded-lg shadow-md"
                                    style="background-image: url({{lists.get_first_thumbnail}});">
                                </div>
                                <div class="flex flex-col w-1/3 ml-2">
                                    <p class="font-semibold">{{lists.title}}</p>
                                    <div class="flex">
                                        <span class="font-light text-md mr-1">{{lists.place.count}}</span>
                                        <span class="font-light text-md"> place{{lists.place.count|pluralize}}</span>
                                    </div>
                                    <i class="fas fa-heart text-lg text-red-400 mr-2 mt-2"></i>
                                </div>
                            </div>
                        </a>
                        {% else %}
                        <a href="{% url 'lists:add-list' place.pk lists.title %}?action=add">
                            <div class="flex flex-wrap rounded-lg p-3 hover:bg-gray-200 rounded-lg ">
                                <div class="w-20 h-20 bg-cover bg-center rounded-lg shadow-md"
                                    style="background-image: url({{lists.get_first_thumbnail}});">
                                </div>
                                <div class="flex flex-col w-1/3 ml-2">
                                    <p class="font-semibold">{{lists.title}}</p>
                                    <div class="flex">
                                        <span class="font-light text-md mr-1">{{lists.place.count}}</span>
                                        <span class="font-light text-md"> place{{lists.place.count|pluralize}}</span>
                                    </div>
                                    <i class="far fa-heart text-lg text-red-400 mr-2 mt-2"></i>
                                </div>
                            </div>
                        </a>
                        {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}                    
            </div>
            <!-- Footer -->
            <div class="flex justify-end pt-2">
            <button class="focus:outline-none modal-close px-4 bg-gray-400 p-3 rounded-lg text-black hover:bg-gray-300">Cancel</button>
            <button class="focus:outline-none modal-confirm px-4 bg-teal-500 p-3 ml-3 rounded-lg text-white hover:bg-teal-400">Create</button>
            </div>
        </div>
    </div>
</div>
<div class="sub-modal fixed w-full h-100vh inset-0 z-50 overflow-hidden flex justify-center items-center animated fadeIn faster"
style="background: rgba(0,0,0,.7);">
    <div class="border border-teal-500 shadow-lg modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
        <div class="modal-content py-4 text-left px-6">
            <!-- Title -->
            <div class="flex justify-between items-center border-b pb-2 boder-gray-400">
                <p class="block uppercase tracking-wide text-gray-700 text-lg font-bold py-2">Name this list</p>
                <div class="submodal-close cursor-pointer z-50 flex justify-center py-2">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!-- Body -->
            
            {% if place %}
                    <form action="{% url 'lists:create-list' place.pk %}?action=add" method="POST" class="flex flex-col pt-6 mx-auto">
                        {% csrf_token %}
                            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                                Title
                            </label>
                            <span id="id_">{{list_form.title}}</span>
                        <div class="flex justify-end px-2 pt-8">
                            <button class="focus:outline-none submodal-close px-4 bg-gray-400 p-3 rounded-lg text-black hover:bg-gray-300">Cancel</button>
                            <button class="focus:outline-none px-4 bg-teal-500 p-3 ml-3 rounded-lg text-white hover:bg-teal-400">Create</button>
                        </div>
                    </form>
            {% endif %}
            <!-- Footer -->

        </div>
    </div>
</div>