{% load static %}

<div class="overflow-hidden">
    <a href="{% url 'places:detail' place.pk %}" class="flex flex-row border-t border-gray-400 mt-4 py-4" onmouseenter="init_Map({{place.mapx}}, {{place.mapy}});">
        {% if place.first_photo is None %}
            <div class="w-40vh h-25vh bg-cover bg-center rounded-lg shadow-md hover:shadow-lg mb-2 mr-4">
                <div class="w-full h-full bg-cover bg-center"
                    style="background-image: url({% static 'img/add_image_error.png'%});">
                </div>
            </div>
        {% else %}
        <div class="w-40vh h-25vh bg-cover bg-center rounded-lg shadow-md hover:shadow-lg mb-2 mr-4"
            style="background-image: url({{place.first_photo}});">
        </div>
        {% endif %}
        <!-- 카드 아래 text 링크 css 작업 -->
        <div class="w-1/2 flex flex-col">
            <span class="w-1/2 text-black text-lg block truncate overflow-hidden">{{place.cat_type}}</span>
            <span class="w-1/2 text-black text-3xl block truncate overflow-hidden">{{place.title}}</span>
            <div class="w-full overflow-hidden">
                <span class="text-sm text-gray-600 font-light">{{place.region.name}}, {{place.region_sub.name}}</span>
            </div>
            <span class="text-sm flex items-center font-bold">
                <i class="fas fa-star text-purple-400 text-xs mr-1"></i>{{place.total_rating}}
                <i class="fas fa-heart mr-1 text-red-400 text-xs mx-1"></i>{{place.get_likes_count}}
            </span>
            <span class="hidden" id="mapx">{{place.mapx}}</span>
            <span class="hidden" id="mapy">{{place.mapy}}</span>
        </div>
    </a>
</div>


