{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40d3WlYRwpcWJYKc-Wy2SahTBkic4xo&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script>
      const list = [];
      
      {% for i in search %}
        obj = '{{i}}';
        list.push(obj);
      {% endfor %}

    </script>
    <script type="text/javascript" src="{% static 'js/autocomplete.js'%}"></script>
    <title> {% block page_title %}{% endblock page_title %} | Nanum</title>
  </head>
  <body class="font-light text-gray-700 mt-24">
      <header class="container inset-0 max-w-full flex items-center justify-between px-6 h-20 border-b border-gray-400 fixed bg-white z-50">
        {% block search-bar %}
          <a href="{% url 'core:home' %}" class="mr-6">
            <img class="w-8" src="{% static 'img/logo.png'%}" alt="logo" />
          </a>
          <div class="flex items-center w-1/3">
            <form method="GET" action="{% url 'places:search' %}" class="autocomplete w-1/3" id="search" onload="init()" autocomplete="off">
                <input 
                class="search-box border px-5 py-3 w-full rounded-md shadow-md hover:shadow-lg text-sm font-semibold placeholder-gray-400 focus:outline-none"
                name="search" placeholder="Search By Trip" id="autoInput">
            </form>
          </div>  
          {% endblock search-bar %}
          {% include "partials/nav.html" %}
      </header>
        {% block content %} {% endblock content %}

      <script>
        // autocomplete 부분을 생성
        window.onload = function () { autocomplete.setAutocomplete(document.getElementById("autoInput"), list) }
      </script>
  {% include "partials/footer.html" %} 
  </body>
</html>
