{% load static get_region %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" href="{% static 'css/common.css'%}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDW40d3WlYRwpcWJYKc-Wy2SahTBkic4xo&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <script>
      {% get_region as search %}
      const list = [];
      {% for i in search %}
        obj = '{{i}}';
        list.push(obj);
      {% endfor %}
      console.log(list);
      var focus_marker = "{% static 'img/map-marker.svg' %}";
      var marker = "{% static 'img/map-marker2.svg' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/autocomplete.js'%}" defer></script>
    <script type="text/javascript" src="{% static 'js/scrollEvent.js'%}" defer></script>
    <title> {% block page_title %}{% endblock page_title %} | Nanum</title>
  </head>
  <body class="font-light text-gray-700 mt-24">
      <header id="main_menu" class="container inset-0 max-w-full flex items-center justify-between px-2 h-20 fixed bg-black z-50">
        {% block search-bar %}
          <a href="{% url 'core:home' %}" class="mr-6 flex flex-wrap">
            <h3 class="text-white font-light font-montserrat text-2xl mr-px">Stamp</h3>
            <h3 class="text-blue-500 font-extrabold text-lg">Kr</h3>
            <!-- <img class="flex absolute w-14 h-14" src="{% static 'img/logo.svg'%}" alt="logo" /> -->
          </a>
          <div class="absolute ml-32 flex items-center w-full" id="search_bar">
            <form method="GET" action="{% url 'places:search' %}" class="autocomplete w-1/4" id="search" onload="init()" autocomplete="off">
                <input 
                class="search-box border px-5 py-3 w-full rounded-md shadow-md hover:shadow-lg text-sm font-semibold placeholder-gray-400 focus:outline-none"
                name="search" placeholder="Search By Trip" id="autoInput">
            </form>
          </div>  
          {% endblock search-bar %}
          {% include "partials/nav.html" %}
      </header>
        {% block content %} 
        {% endblock content %}
        {% include "mixins/fav_modal.html" with place=place %}
      <script type="text/javascript" src="{% static 'js/onFavModal.js'%}"></script>
      <script type="text/javascript" src="{% static 'js/carousel.js'%}"></script>
      <script>
        // autocomplete 부분을 생성
        window.onload = function () { autocomplete.setAutocomplete(document.getElementById("autoInput"), list) 
        initMap2();}
      </script>
  {% include "partials/footer.html" %} 
  </body>
</html>
